@import "../../../variable";

.productCart {
  height: 100vh;
  @media (max-width: $media-phone) {
    flex-direction: column;
    height: auto;
  }
}

.wrapper {
  display: flex;
  @media (max-width: $media-phone) {
    flex-direction: column;
  }
}

.imgBox {
}

.imgProd {
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 520px;
  @media (max-width: $media-tablet-small) {
    max-width: 280px;
  }
  @media (max-width: $media-phone) {
    max-width: 500px;
  }
}

table {
  margin-bottom: 40px;
}

.descBox {
  max-width: 600px;
  margin-left: 20px;
  @media (max-width: $media-tablet-small) {
    max-width: 600px;
    & > table > tr > td {
      width: 200px;
      height: 30px;
      font-size: 14px;
    }
  }
  @media (max-width: $media-phone) {
    margin-left: 0px;
    margin-bottom: 140px;
  }
}

.descColumn {
  width: 200px;
  height: 50px;
}

.wrapperPriceAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.price {
  font-size: 35px;
  font-weight: 700;
  color: $color-text;
  @media (max-width: $media-tablet-small) {
    font-size: 25px;
  }
}

.counterBox {
  display: flex;
  align-items: center;
}

.counterNum {
  font-size: 30px;
  font-weight: 300;
  &:before {
    content: "-";
    font-size: 42px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
  }
  &:after {
    content: "+";
    font-size: 32px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
  }
}

.button {
  font-size: 20px;
  font-weight: 700;
  color: $color-text-white;
  text-transform: uppercase;
  border-radius: $br-btn;
  margin-left: 40px;
  border: none;
  background-color: $color-btn-red;
  padding: 20px 40px 20px 40px;
  transition: 0.6s;
  cursor: pointer;
  &:hover {
    background-color: $color-btn-hover;
  }
  @media (max-width: $media-tablet-small) {
    max-width: 280px;
    font-size: 15px;
    padding: 15px 35px 15px 35px;
  }
}

.addProdText {
  font-size: 14px;
  color: $color-text-opacity;
  & > a:hover {
    color: $color-btn-hover;
  }
}
