@import "../../variable";

.product {
  margin-bottom: 200px;
}

h1 {
  margin-top: 0px;
  @media (max-width: $media-tablet) {
    font-size: 30px;
  }
  @media (max-width: $media-phone) {
    padding-bottom: 0px;
    font-size: 22px;

  }
}

.wrapperProduct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  flex-wrap: wrap;
  gap: 100px;
  @media (max-width: $media-tablet) {
    padding-left: 0px;
    gap: 30px;
  }
  @media (max-width: $media-tablet-small) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $media-phone) {
    grid-template-columns: 1fr;
  }
}

.wrapperHeaderProd {
  position: relative;
  margin-bottom: 60px;
}

.boxSort {
  width: 290px;
  height: 16px;
  display: flex;
  justify-content: flex-start;
  padding: 5px 15px 5px 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  &__show {
    width: 290px;
    height: auto;
    display: flex;
    padding: 5px 15px 5px 0px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    @media (max-width: $media-tablet) {
      font-size: 14px;
      width: 240px;
    }
    @media (max-width: $media-phone) {
      font-size: 10px;
      width: 165px;
      height: 10px;
      padding: 7px 0px 5px 0px;
    }
  }
  @media (max-width: $media-tablet) {
    font-size: 14px;
    width: 240px;
  }
  @media (max-width: $media-phone) {
    font-size: 10px;
    width: 165px;
    height: 10px;
    padding: 7px 0px 5px 0px;
  }
}

.sortBoxLabel {
  padding-left: 10px;
  height: 30px;
  cursor: pointer;
  & > ul {
    margin: 10px 0 3px 0;
    padding: 0px;
    & > li {

      &:hover {
        color: $color-text-red;
      }
    }
  }
}
