$color-text: black;
$color-text-opacity: rgba(0, 0, 0, 0.56);
$color-text-red: red;
$color-text-white: white;

$color-btn-red: red;
$color-btn-white: white;
$color-btn-hover: #b20000;

$br-btn: 5px;

$border-red: red;
$border-gray: rgba(128, 128, 128, 0.55);

$bg-white: white;
$bg-black: black;
$bg-red: red;

$media-tablet: 1200px;
$media-tablet-small: 900px;
$media-phone: 600px;
